.StartScreen {
    text-align: center;
    justify-content: center;
}

.StartButton {
    cursor: pointer;
    margin-top: 150px;
    border: 3px solid white;
    border-radius: 50px;
    background-image: linear-gradient(to bottom right, rgba(255, 147, 59, 1), rgba(143,118,255,1));
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 500;
    width: 250px;
    height: 100px;
    box-shadow: 0px 0px 25px white;
}

.StartButton:hover {
    background-image: linear-gradient(to bottom right, white, white);
    color: black;
    mix-blend-mode:screen;
}

.StartScreen h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
}

.StartScreen h4 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

@media (orientation: portrait) and (max-width: 320px) {
    .StartScreen h2 {
        font-size: 1.5rem;
        margin-bottom: -110px;
    }
    p {
        font-size: 0.75rem;
    }
    .StartScreen .StartButton {
        width: 200px;
        height: 80px;
        font-size: 35px;
    }
}

@media (orientation: portrait) and (min-width: 321px) and (max-width: 450px) {
    .StartScreen h2 {
        font-size: 1.5rem;
        margin-bottom: -40px;
    }
    .StartScreen h3 {
        font-size: 1.25rem;
    }
    .StartScreen .StartButton {
        width: 250px;
        height: 100px;
        font-size: 35px;
    }
}

@media (orientation: portrait) and (min-width: 500px) and (max-width: 819px) {
    .StartScreen h2 {
        font-size: 2.5rem;
    }
    .StartScreen h3 {
        font-size: 1.65rem;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    .StartScreen h2 {
        margin-top: 80px;
        margin-bottom: 150px;
    }
}

@media (orientation: landscape) and (max-width: 568px) {
    .StartScreen h2 {
        font-size: 1.5rem;
        margin-bottom: -130px;
    }
    .StartScreen h3 {
        font-size: 1.25rem;
        margin-bottom: -25px;
    }
    .StartScreen .StartButton {
        width: 200px;
        height: 75px;
        font-size: 30px;
    }
}

@media (orientation: landscape) and (min-width: 569px) and (max-width: 823px) {
    .StartScreen h2 {
        font-size: 1.5rem;
        margin-bottom: -110px;
    }
    .StartScreen h3 {
        font-size: 1.25rem;
        margin-bottom: -25px;
    }
    .StartScreen .StartButton {
        width: 250px;
        height: 100px;
        font-size: 35px;
    }
}

@media (orientation: landscape) and (min-width: 824px) and (max-width: 1024px) {
    .StartScreen h2 {
        margin-bottom: -25px;
    }
}