.App {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0% 5% 0% 5%;
  background-image: url("./images/BG3.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.Score h4{
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.Pokemon_Cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  margin-bottom: -40px;
}

.Pokemon_One {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 5px 0px 5px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px black;
  background-image: linear-gradient(to bottom right, rgba(255, 147, 59, 0.8), rgba(143,118,255,0.6));
  transition: background-image ;
}

.Pokemon_One:hover {
  background-image: linear-gradient(to bottom right, rgba(255, 147, 59, 0.9), rgba(143,118,255,0.7));
  transform: scale(1.05);
  transition: .3s;
}

.Pokemon_One_Button {
  position: relative;
  display: flex;
  cursor: pointer;
  height: 100%;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}

.Stat {
  cursor: pointer;
  font-size: 200px;
  z-index: 100;
  position: absolute;
  background-color: transparent;
  border: transparent;
  color: white;
}

.Pokemon_Two {
  padding: 10px 5px 0px 5px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px black;
  background-image: linear-gradient(to bottom right, rgba(255, 147, 59, 0.8), rgba(143,118,255,0.6));
}

.Pokemon_Two:hover {
  background-image: linear-gradient(to bottom right, rgba(255, 147, 59, 0.9), rgba(143,118,255,0.7));
  transform: scale(1.05);
  transition: .3s;
}

.Pokemon_Two_Button {
  cursor: pointer;
  height: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}

.Next {
  cursor: pointer;
    margin-top: 150px;
    border: 3px solid white;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, rgba(255, 147, 59, 1), rgba(143,118,255,1));
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 500;
    width: 100px;
    height: 50px;
    box-shadow: 0px 0px 25px white;
}

h1 {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: -40px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  font-weight: 200;
  color: rgb(255, 255, 255);
}

h2 {
  padding: 0px;
  margin-top: -45px;
  margin-bottom: -20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

h3 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.Credits {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  text-align: left;
  justify-content: left;
  align-content: center;
  padding-top: 15px;
}

.HighScore {
  position: absolute;
  bottom: 0px;
  right: 40px;
}